<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 开启二级缓存 -->
        <setting name="cacheEnabled" value="true"/>
        <!-- 日志 -->
        <setting name="logImpl" value="LOG4J"/>
        <!-- 延迟加载 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 不要积极的查询关联对象 -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!-- 打印对象避免发送额外的SQL语句 ,指定的方法就会发送额外的SQL语句-->
        <setting name="lazyLoadTriggerMethods" value="equals"/>
    </settings>

    <!-- 别名 -->
    <typeAliases>
        <package name="com.brent.demo.mode.po"/>
    </typeAliases>

</configuration>